html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-weight: 700;
  color: #ffc909;
  background-color: rgb(17,17,16);
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 26%;
    background: linear-gradient(0deg, rgba(17,17,16,0) 0%, rgba(17,17,17,1) 21%);
}
.container {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 5vw;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(18deg);
}

h1, h2 {
  text-align: center;
  font-weight: 700;
  font-size: 6vw;
}

.wrapper {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 1s infinite;
}
.wrapper p {
    margin-top: 100px;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
