 @font-face {
    font-family: Gilam;
    src: url(../fonts/gilam/gilam-regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Gilam Bold';
    src: url(../fonts/gilam/gilam-bold.ttf);
    font-weight: 700;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: #171717;
    color: #FFFFFF;
    font-family: Gilam;
    border: 0px solid #E4B564;
}


/* Heading */
header {
    max-width: 1250px;
    margin: 0 auto;
}
header ul {
    display:flex;
    justify-content: space-between;
    margin: 46px 0;
}

.header-call-btn a {
    display: block;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
    padding: 15px 25px;
}
.header-call-btn span {
    padding-left: 5px;
}
.header-call-btn a:hover {
    color: #171717;
    background-color: #E4B564;
}

/* Main sections */
main {
    max-width: 1250px;
    margin: 0 auto;
}
.main-sections {
    margin-top: 90px;
}
.company-services h2 {
    font-size: 50px;
    font-family: 'Gilam Bold';
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 41px;
}
.company-services p {
    max-width: 1000px;
    font-family: 'Gilam Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.company-services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 25px;
    margin-top: 41px;
    font-weight: 700;
}

.company-services-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item1 {
    background-color: #634F2C;
    grid-column: 1 / 3 ;
}
.grid-item2 {
    background-color: #B4A385;
    ;
    grid-column: 3 / 5 ;
}
.grid-item3 {
    background-color: #E4B564;
    grid-column: 5 / 7 ;
}
 .grid-item4 {
    background-color: #635A4A;
    grid-column: 1 / 4 ;
}
.grid-item5 {
    background-color: #B08C4D;
    grid-column: 4 / 7 ;
}

.company-transports h2 {
    font-size: 50px;
    font-family: 'Gilam Bold';
    font-weight: 700;
    line-height: 28px;
    margin-top: 161px;
}

.company-transports-grid {
    display: grid;
    height: 845px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 25px;
    margin: 61px 0 100px;
}
.company-transports-grid > div {
    display: flex;
    justify-content: flex-start;
}
.company-transports-grid p {
    max-width: 302px;
    padding: 44px 0 0 51px;
    font-family: Gilam;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

}
.company-transports-grid span {
    font-family: 'Gilam Bold';
    font-weight: 700;
}
.item1 {
    background-color: #0E0E0E;
    grid-column: 1 / 5 ;
    grid-row: 1 / 6;
}
.item2 {
    background-color: #242424;
    grid-column: 5 / 9 ;
    grid-row: 1 / 7;
}
.item3 {
    background-color: #1F1F1F;
    grid-column: 9 / 13 ;
    grid-row: 1 / 5;
    
}
.item4 {
    background-color: #0E0E0E;
    grid-column: 9 / 13 ;
    grid-row: 5 / 9;
}
.item5 {
    background-color: #1F1F1F;
    grid-column: 1 / 5 ;
    grid-row: 6 / 13;
}
.item6 {
    background-color: #E4B564;
    grid-column: 5 / 9 ;
    grid-row: 7 / 13;
}
.item7 {
    background-color: #0A0909;
    grid-column: 9 / 13 ;
    grid-row: 9 / 13;
}

.bck-color-black {
    background-color: #0E0E0E;
}
.clients-and-projects {
    max-width: 1250px;
    margin: 0 auto;
}
.projects {
    margin-top: 150px;
}
.projects ul {
    display: flex;
    justify-content: space-between;
    padding: 150px 0 50px;
}
.projects h2 {
    font-size: 50px;
    font-family: 'Gilam Bold';
    font-weight: 700;
    line-height: 28px;
}
.all-projects-btn a {
    display: block;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
    padding: 15px 30px;
}
.all-projects-btn a:hover {
    color: #171717;
    background-color: #E4B564;
}
.clients {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 238px;
}
.clients > div {
    flex-basis: 33.3%;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client1 {
    background-color: #634F2C;
}

.client2 {
    background-color:#E8D2ABC2 ;
    flex-flow: column nowrap;
}

.client2 p {
    padding-top: 20px;
    max-width: 300px;
    font-family: 'Gilam Bold';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.client2 span {
    font-family: Gilam;
    font-weight: 400;
}

.client3 {
    background-color: #E4B564; 
}

.client4 {
    background-color: #635A4A;
}

.client5 {
    background-color: #B08C4D;
}

.client6 {
    background-color: #634F2C;
}