html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Arimo";
  font-weight: 400;
  line-height: 28px;
  background-color: rgba(250, 250, 250, 1);
}
.pricing-table {
  border: 18px solid rgba(58, 73, 101, 1);
  width: 1250px;
  margin: 0 auto;
  text-transform: uppercase;
  color: rgba(72, 72, 72, 1);
}

td {
    text-align: center; 
    border-bottom: 2px solid rgba(201, 199, 199, .5);
}
td [class*="fa-"] {
  color: rgba(132, 132, 132, 1);
  font-size: 24px;
}
.first-line th,
.first-line td {
  border-bottom: 10px solid rgba(58, 73, 101, 1);
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}
.first-line th {
  width: 220px;
  font-size: 20px;
}
.first-line td {
  padding: 20px 0;
  width: 160px;
}
.first-line td span:first-child {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.other-lines td {
  padding: 60px 30px;
}
th:nth-child(even),
td:nth-child(even) {
  background-color: rgba(227, 227, 227, 1);
}
.packages span:not(:first-child) {
  display: block;
  padding-bottom: 5px;
}
.packages span:first-child {
  font-size: 14px;
}
.price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5px;
}
.price-card .dollar {
  font-size: 30px;
}
.price-card .cent {
  font-size: 14px;
}
.standard-card-cell {
  background-color: rgba(137, 195, 49, 1);
  vertical-align: middle;
}
.ultimate-card-cell {
  background-color: rgba(240, 74, 86, 1);
  vertical-align: middle;
}
.premium-card-cell {
  background-color: rgba(32, 128, 124, 1);
  vertical-align: middle;
}
.price {
  padding-top: 5px;
}
sup {
  font-size: 18px;
  vertical-align: super;
}
.cta-btn a {
  display: block;
  padding: 5px 7px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  width: 150px;
  background-color: rgba(72, 72, 72, 1);
  box-shadow: 0 9px rgba(64, 64, 64, 1);
}
.cta-btn a:hover {
  background-color: rgb(109, 107, 107);
  box-shadow: 0 9px rgba(72, 72, 72, 1);
}
