html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Arimo";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
}
table.pricing-table-1 {
  border: 18px solid rgba(58, 73, 101, 1);
  width: 1192px;
  margin: 0 auto;
}
th,
td {
  padding: 27px;
  border-left: 2px solid rgba(201, 199, 199, .5);
  text-align: center;
  text-transform: uppercase;
  color: rgba(72, 72, 72, 1);
}
th {
  padding: 15px;
  border-left: none;
}
.price td {
  padding: 17px;
}
tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 1);
}
tr:nth-child(2n + 4) {
  background-color: rgba(227, 227, 227, 1);
}
.packages {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.packages span:first-child {
  font-size: 18px;
}
.packages span:last-child {
  font-size: 30px;
  padding-top: 10px;
}
.pricing-tags {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
tr.price .dollar {
  font-size: 60px;
  font-weight: 700;
  color: rgba(72, 72, 72, 1);
  align-self: center;
}
.price-month span {
  display: flex;
}
.price-month span:first-child {
  font-weight: 700;
  font-size: 24px;
}
.price-month span:last-child {
  font-size: 18px;
}
th:nth-child(1) {
  background-color: rgba(250, 250, 250, 1);
  font-weight: 700;
  vertical-align: middle;
  line-height: 28px;
}
th:nth-child(2) {
  background-color: rgba(137, 195, 49, 1);
  color: white;
  font-size: 24px;
  font-weight: 700;
}
th:nth-child(3) {
  background-color: rgba(240, 74, 86, 1);
  color: white;
  font-size: 30px;
  font-weight: 700;
}
th:nth-child(4) {
  background-color: rgba(32, 128, 124, 1);
  color: white;
  font-size: 24px;
  font-weight: 700;
}
td [class*="fa-"] {
  color: rgba(132, 132, 132, 1);
  font-size: 140%;
}
td a {
  display: block;
  padding: 20px 20px 9px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  width: 195px;
  margin: 0 auto;
}
.cta-btns td:nth-child(1) a {
  background-color: rgba(72, 72, 72, 1);
  box-shadow: 0 9px rgba(64, 64, 64, 1);
}
.cta-btns td:nth-child(1) a:hover {
  background-color: rgb(109, 107, 107);
  box-shadow: 0 9px rgba(72, 72, 72, 1);
}
.cta-btns td:nth-child(2) a {
  background-color: rgba(137, 195, 49, 1);
  box-shadow: 0 9px rgba(121, 176, 39, 1);
}
.cta-btns td:nth-child(2) a:hover {
  background-color: rgb(157, 216, 69);
  box-shadow: 0 9px rgba(137, 195, 49, 1);
}
.cta-btns td:nth-child(3) a {
  background-color: rgba(240, 74, 86, 1);
  box-shadow: 0 9px rgba(223, 58, 70, 1);
}
.cta-btns td:nth-child(3) a:hover {
  background-color: rgb(242, 96, 106);
  box-shadow: 0 9px rgba(240, 74, 86, 1);
}
.cta-btns td:nth-child(4) a {
  background-color: rgba(32, 128, 124, 1);
  box-shadow: 0 9px rgba(22, 115, 111, 1);
}
.cta-btns td:nth-child(4) a:hover {
  background-color: rgb(62, 165, 158);
  box-shadow: 0 9px rgba(32, 128, 124, 1);
}
