html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Ubuntu";
  font-weight: 400;
  background-image: url("../img/Фон\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
header {
  background-color: rgba(0, 0, 0, 0.4);
} 
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 79px;
}
nav .logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.logo a {
  text-decoration: none;
  color: white;
}
.logo a:hover {
  color: #3cb878;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  gap: 27px;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav ul li:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 0 6px 27px;
}
nav li a:hover {
  color: #3cb878;
}
svg:hover path {
  fill: #3cb878;
}

/* Main section */
.form-container {
  width: 444px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.log-in {
  color: rgba(67, 67, 67, 1);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.log-in span {
  display: block;
  margin-top: 30px;
  padding: 0 170px 0 43px;
  text-transform: capitalize;
}
.log-in span:last-child {
  padding-right: 5px;
}
.log-in span a:last-child {
  color: rgba(60, 184, 120, 1);
  font-size: 14px;
  padding-right: 0;
  text-decoration: none;
}
.log-in span a:last-child:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.log-in::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
  background-color: #3cb878;
}
.form-field {
  max-width: 324px;
  margin: 0 auto;
  padding-bottom: 31px;
}
.sign-up-socials {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.sign-up-socials-icon {
  flex-basis: 48.5%;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.sign-up-socials-icon a {
  color: white;
  text-decoration: none;
  display: block;
}
.facebook-btn {
  background-image: url("../img/f\ 1.png");
  background-position: 15px 50%;
  background-repeat: no-repeat;
  background-color: rgba(48, 93, 184, 1);
  padding: 10px;
}
.facebook-btn p {
  padding: 5px 15px;
  border-left: 1px solid rgba(43, 13, 9, 0.1);
}
.facebook-btn:hover {
  background-color: rgba(2, 34, 99, 1);
  cursor: pointer;
}
.google-btn {
  background-image: url("../img/G+.png");
  background-position: 12px 50%;
  background-repeat: no-repeat;
  background-color: rgba(223, 74, 50, 1);
}
.google-btn p {
  padding: 5px 30px 5px 20px;
  border-left: 1px solid rgba(43, 13, 9, 0.1);
}
.google-btn:hover {
  background-color: rgba(171, 31, 9, 1);
  cursor: pointer;
}
.choose-sign-up-form {
  color: #848484;
  margin: 31px 0 12px;
  text-align: center;
  position: relative;
}
.choose-sign-up-form p::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 153px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 50%;
}
.choose-sign-up-form p::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 153px;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  right: 0;
}
/* Forms */
input {
  width: 322px;
  margin-bottom: 16px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 15px;
  color: rgba(67, 67, 67, 1);
  font-size: 14px;
  transition: 0.8s;
  text-transform: capitalize;
}
input:nth-child(5) {
  margin-bottom: 12px;
}
input::placeholder {
  color: rgba(190, 190, 190, 1);
}
input:hover {
  border: 1px solid rgba(1, 129, 63, 0.21);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.container-checkbox {
  display: block;
  position: relative;
  padding: 3px 0 3px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(67, 67, 67, 1);
  line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox a {
  color: rgba(60, 184, 120, 1);
  text-decoration: none;
}
.container-checkbox a:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox .checkmark:after {
  left: 7px;
  top: -2px;
  width: 7px;
  height: 17px;
  border: solid rgba(60, 184, 120, 1);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="submit"] {
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  height: 48px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: rgba(1, 129, 63, 1);
}
