/* General settings */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-image: url(../img/background\ 1.png);
    background-size: cover;
    background-position: 40% 50%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color:white;
}

/* Header */
header {
    max-width: 1022px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
}
header .logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 49px;
    margin-left: 7px;
}

header .logo:hover img {
    content: url(../img/logo-orange.svg);
}
header .logo:hover {
    color: #F26522;
    cursor: pointer;
}
.logo-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.logo-text h2,
.logo-text h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 29px ;
}
.logo-text h3 {
    font-size: 18px;
    margin-bottom: -10px;
}
header .contacts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    text-align: right;
}
.contacts a {
    color: white;
    text-decoration: none;
    margin-top: 46px;
}
.contacts a:hover {
    color: #F26522;
    cursor: pointer;
}
.contacts a:last-child {
    margin-top: 19px;
}

/* Main section */
main {
    max-width: 1022px;
    margin: 0 auto;
}
.tours {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}
.tours a {
    text-decoration: none;
    color: white;
}
.tour-list {
    margin-top: 15px;
    text-align: center;
}

.tour-list-img {
    width: 306px;
    height: 220px;
    position: relative;
    margin: 0;
    padding: 0; 
}
.list-img {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}
 .tour-list:hover .block-hover {
    height: 60px;
    visibility: visible;
    transform: scale(1, 1);
}
.tour-list a:hover {
    color:#F26522;
}
.block-hover {
    background-color: #F26522;
    height: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: -3px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    transition-delay: 0.1s;
}

.tour-price {
    margin-left: 18px;
    margin-top: 12px;
    text-align: start;
}
.tour-price p  {
    font-size: 10px;
    font-family: Roboto;
    font-weight: 400;
    color: white;
}
.tour-price p span {
    font-size: 20px;
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 400;
}
.tours-details {
    text-transform: capitalize;
    font-size: 14px;
    color: white;
}

.tours-details p::after {
    content:url(../img/Vector\ 1.svg);
    margin: 0 16px;
}

/* Footer */
footer {
    max-width: 1022px;
    margin: 0 auto;
}
footer p {
    font-size: 12px;
     text-align: center;
}