/* General settings */
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-bt-bold.ttf);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: rgba(0, 0, 0, 0.0001);
  color: rgba(61, 60, 60, 1);
  text-align: center;
}
header,
#companies,
#testimonials {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 690px;
}
.wrapper {
  width: 996px;
  margin: 0 auto;
}
.wrapper h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: rgba(20, 175, 202, 1);
  padding-top: 50px;
}
#what .wrapper h2 {
  padding-top: 0px;
}
.wrapper h4 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: rgba(66, 79, 87, 1);
  padding: 25px 0 30px;
}
.bg-img-cover,
.bg-img-cover2,
.bg-img-cover3 {
  width: 100%;
  height: 700px;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 16, 0) 0%,
    rgba(17, 17, 17, 0.8) 0%
  );
  position: absolute;
  top: 0;
  z-index: -10;
}
.bg-img-cover2,
.bg-img-cover3 {
  height: 690px;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 16, 0) 0%,
    rgba(17, 17, 17, 0.9) 0%
  );
}
#what,
#meet,
#why {
  position: relative;
}
#what p,
#why p {
  color: rgba(66, 79, 87, 1);
  font-family: "Roboto";
  z-index: 100;
}
/* Triangle areas om the page */
.chevron-top {
  position: relative;
  text-align: center;
  padding: 0px;
  height: 120px;
  width: 100%;
  z-index: 1000;
}
.chevron-top:before {
  content: "";
  position: absolute;
  bottom: 70px;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
.chevron-top:after {
  content: "";
  position: absolute;
  bottom: 70px;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
}
.why-chevron-top {
  position: relative;
  text-align: center;
  padding: 0px;
  height: 100px;
  width: 100%;
  z-index: 1000;
}
.why-chevron-top:before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
.why-chevron-top:after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
}
.chevron-bottom {
  position: relative;
  text-align: center;
  padding: 0px;
  height: 130px;
  width: 100%;
  z-index: -100;
}
.chevron-bottom:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
.chevron-bottom:after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
}
.meet-chevron-bottom {
  position: relative;
  text-align: center;
  padding: 0px;
  height: 150px;
  width: 100%;
  z-index: -100;
}
.meet-chevron-bottom:before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
.meet-chevron-bottom:after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
}

/* Header section */
header {
  background-image: url(../img/bg1.jpg);
  background-position: center center;
  height: 700px;
}
nav {
  background-color: white;
  padding: 35px 0;
  position: absolute;
  top: 20px;
  width: 100%;
}
nav ul {
  width: 996px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.75px;
}
nav ul li {
  padding-left: 50px;
}
nav ul .logo {
  text-align: left;
  margin-right: auto;
}
nav li a {
  text-decoration: none;
  color: rgba(62, 76, 78, 1);
}
nav li a:hover:not(.logo a) {
  color: rgba(20, 175, 202, 1);
}
nav .logo a {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 36px;
  text-transform: capitalize;
}
nav .logo span {
  font-weight: 900;
  color: rgba(20, 175, 202, 1);
  text-transform: uppercase;
}
.hero-section h1 {
  font-family: "Futura";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 52px;
  line-height: 75px;
  max-width: 996px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* WHAT section */
#what p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* COMPANIES section */
#companies {
  background-image: url(../img/bg2.jpg);
  background-position: left top;
  padding-top: 80px;
  z-index: -200;
}
#companies h2,
#testimonials h2 {
  padding-top: 150px;
}
#companies h4,
#testimonials h4 {
  color: rgba(255, 255, 255, 1);
  padding-bottom: 30px;
}
.companies-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.companies-logos li:nth-child(4) {
  padding-top: 15px;
}
.companies-logos li {
  flex-basis: 22%;
  padding-bottom: 50px;
}

/* MEET section */
#meet {
  height: 800px;
}
#meet h2 {
  padding-top: 120px;
}
.meet-us-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.meet-us-cards .worker-card {
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.worker-card img {
  padding: 30px 35px;
}
.worker-card p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: rgba(66, 79, 87, 1);
}

/* TESTIMONIALS section */
#testimonials {
  background-image: url(../img/bg2.jpg);
  background-position: left top;
  z-index: -200;
}
#testimonials .wrapper {
  padding: 100px 0;
  width: 900px;
}
#testimonials figure {
  color: white;
  font-family: "Open Sans";
  font-style: italic;
}
#testimonials blockquote {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 28px;
}
#testimonials figcaption {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 24px;
  padding-top: 20px;
  text-align: end;
  padding-right: 100px;
}

/* WHY section */
#why h2 {
  padding-top: 0;
}
#why p {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}
footer div {
  margin: 40px auto;
}
footer p {
  text-align: center;
  padding-top: 4px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
}
footer p span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.8px;
}
